In [1]:
import pandas as pd
import numpy as np

In [2]:
db_timeseries=pd.read_csv('df_timeseries_en.tsv', sep='\t')

In [3]:
db_timeseries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18872499 entries, 0 to 18872498
Data columns (total 10 columns):
 #   Column        Dtype
---  ------        -----
 0   channel       object
 1   category      object
 2   datetime      object
 3   views         float64
 4   delta_views   float64
 5   subs          float64
 6   delta_subs    float64
 7   videos        int64
 8   delta_videos  int64
 9   activity      int64
dtypes: float64(4), int64(3), object(3)
memory usage: 1.4+ GB

In [4]:
db_timeseries['datetime']=pd.to_datetime(db_timeseries['datetime'], yearfirst=True)
db_timeseries['week'] = db_timeseries['datetime'].apply(lambda x: x.strftime('%Y-%U'))

In [5]:
db_timeseries.head()

,channel,category,datetime,views,delta_views,subs,delta_subs,videos,delta_videos,activity,week
0,UCBJuEqXfXTdcPSbGO9qqn1g,Film and Animation,2017-07-03,2.024946e+05,0.000000,650.222222,0.000000,5,0,3,2017-27
1,UCBJuEqXfXTdcPSbGO9qqn1g,Film and Animation,2017-07-10,3.940857e+05,191591.111111,1046.000000,395.777778,6,1,1,2017-28
2,UCBJuEqXfXTdcPSbGO9qqn1g,Film and Animation,2017-07-17,8.353938e+05,441308.083333,1501.500000,455.500000,6,0,1,2017-29
3,UCBJuEqXfXTdcPSbGO9qqn1g,Film and Animation,2017-07-24,1.104577e+06,269183.250000,1750.000000,248.500000,6,0,0,2017-30
4,UCBJuEqXfXTdcPSbGO9qqn1g,Film and Animation,2017-07-31,1.284406e+06,179828.600000,2008.300000,258.300000,6,0,0,2017-31

## Keeping info between 1st January 2016 and 30th December 2018

In [6]:
db_deepdive=db_timeseries[db_timeseries['week'].between('2016-01', '2018-52')]

In [7]:
db_deepdive.head()

,channel,category,datetime,views,delta_views,subs,delta_subs,videos,delta_videos,activity,week
0,UCBJuEqXfXTdcPSbGO9qqn1g,Film and Animation,2017-07-03,2.024946e+05,0.000000,650.222222,0.000000,5,0,3,2017-27
1,UCBJuEqXfXTdcPSbGO9qqn1g,Film and Animation,2017-07-10,3.940857e+05,191591.111111,1046.000000,395.777778,6,1,1,2017-28
2,UCBJuEqXfXTdcPSbGO9qqn1g,Film and Animation,2017-07-17,8.353938e+05,441308.083333,1501.500000,455.500000,6,0,1,2017-29
3,UCBJuEqXfXTdcPSbGO9qqn1g,Film and Animation,2017-07-24,1.104577e+06,269183.250000,1750.000000,248.500000,6,0,0,2017-30
4,UCBJuEqXfXTdcPSbGO9qqn1g,Film and Animation,2017-07-31,1.284406e+06,179828.600000,2008.300000,258.300000,6,0,0,2017-31

In [8]:
db_deepdive[db_deepdive['channel']=="UC--24Q3_ZQeFmgJE-Um5QZQ"]

,channel,category,datetime,views,delta_views,subs,delta_subs,videos,delta_videos,activity,week
1928792,UC--24Q3_ZQeFmgJE-Um5QZQ,Travel & Events,2016-08-01 00:00:00,6.252450e+04,4113.500000,1466.000000,0.000000,29,0,1,2016-31
1928793,UC--24Q3_ZQeFmgJE-Um5QZQ,Travel & Events,2016-08-08 00:00:00,6.760025e+04,5075.750000,1508.625000,42.625000,30,1,2,2016-32
1928794,UC--24Q3_ZQeFmgJE-Um5QZQ,Travel & Events,2016-08-15 00:00:00,6.998200e+04,2381.750000,1530.750000,22.125000,31,1,2,2016-33
1928795,UC--24Q3_ZQeFmgJE-Um5QZQ,Travel & Events,2016-08-22 00:00:00,7.266312e+04,2681.125000,1558.625000,27.875000,32,1,2,2016-34
1928796,UC--24Q3_ZQeFmgJE-Um5QZQ,Travel & Events,2016-08-29 00:00:00,7.509300e+04,2429.875000,1591.000000,32.375000,33,1,2,2016-35
...,...,...,...,...,...,...,...,...,...,...,...
1928914,UC--24Q3_ZQeFmgJE-Um5QZQ,Travel & Events,2018-12-02 23:00:00,2.568036e+06,34512.166667,13116.442708,108.562500,145,1,2,2018-48
1928915,UC--24Q3_ZQeFmgJE-Um5QZQ,Travel & Events,2018-12-09 23:00:00,2.604569e+06,36532.338542,13230.088542,113.645833,146,1,2,2018-49
1928916,UC--24Q3_ZQeFmgJE-Um5QZQ,Travel & Events,2018-12-16 23:00:00,2.648337e+06,43768.567708,13354.750000,124.661458,147,1,2,2018-50
1928917,UC--24Q3_ZQeFmgJE-Um5QZQ,Travel & Events,2018-12-23 23:00:00,2.696410e+06,48072.500000,13564.750000,210.000000,148,1,2,2018-51
1928918,UC--24Q3_ZQeFmgJE-Um5QZQ,Travel & Events,2018-12-30 23:00:00,2.752729e+06,56318.994792,13802.583333,237.833333,149,1,2,2018-52

In [11]:
week_distrib=db_deepdive.groupby(['week'], as_index=False)['channel'].count()
week_distrib

        week  channel
0    2016-01      133
1    2016-02      151
2    2016-03      193
3    2016-04      311
4    2016-05      499
..       ...      ...
153  2018-48   124590
154  2018-49   124728
155  2018-50   124843
156  2018-51   125013
157  2018-52   125184

[158 rows x 2 columns]

In [12]:
db_deepdive.to_csv('timeseries_cleaned.csv', sep=';')