In [1]:
import pandas as pd
import numpy as np

In [2]:
db_video=pd.read_csv('video_database_per_period_selected.csv', sep=';')
db_video.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11845978 entries, 0 to 11845977
Data columns (total 13 columns):
 #   Column          Dtype
---  ------          -----
 0   Unnamed: 0.1    int64
 1   Unnamed: 0      int64
 2   category        object
 3   channel         object
 4   date_crawled    object
 5   description     object
 6   id              object
 7   duration        int64
 8   tags            object
 9   title           object
 10  upload          object
 11  week            object
 12  before_updates  float64
dtypes: float64(1), int64(3), object(9)
memory usage: 1.1+ GB

In [3]:
db_video

,Unnamed: 0.1,Unnamed: 0,category,channel,date_crawled,description,id,duration,tags,title,upload,week,before_updates
0,27,127,Sports,UCzWn_gTaXyH5Idyo8Raf7_A,2019-11-03 16:39:12.116589,Fishing for flathead catfish and channel catfi...,UsuYXdyieFU,1080,"flathead,flathead catfish,channel catfish,chan...",How to catch flathead catfish with live bait -...,2017-10-28,2017-43,0.0
1,28,128,Sports,UCzWn_gTaXyH5Idyo8Raf7_A,2019-11-03 16:39:12.784544,Gar fishing with lures we made ourselves from ...,P7kBIPXegWM,921,"Gar,longnose gar,spotted gar,catch gar,fishing...",Catching gar with rope?!! Fishing for gar with...,2017-10-21,2017-42,0.0
2,29,129,Sports,UCzWn_gTaXyH5Idyo8Raf7_A,2019-11-03 16:39:13.428325,1600 dad jokes were submitted but only one cou...,phF8Vtg_iH8,526,"Dad jokes,cheesey jokes,jokes,puns,cheesy puns...",Best of the Worst Dad Jokes!!! Catfish rod win...,2017-10-20,2017-42,0.0
3,30,130,Sports,UCzWn_gTaXyH5Idyo8Raf7_A,2019-11-03 16:39:14.142225,Epic dad jokes battle between me and my wife w...,zV1r_QT2S8w,740,"Dad Joke,Dad jokes,Dad jokes battle,Dad joke b...",Dad Jokes Battle While Fishing for Catfish!!! ...,2017-10-14,2017-41,0.0
4,31,131,Sports,UCzWn_gTaXyH5Idyo8Raf7_A,2019-11-03 16:39:14.875664,Fall is here are the big catfish are everywher...,HYR-7tdy1SE,569,"catfish,catfishing,fishing for catfish,big cat...",Catching BIG catfish with little kids - catfis...,2017-10-07,2017-40,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11845973,18699171,2373542,People & Blogs,UCrwMvZOgSvS2srsIjY-iIGg,2019-11-19 08:52:36.122483,HEAVY K SWEETIE SWEETIE,Kw6-qUsQFmc,84,NaN,SWEETIE SWEETIE DANCE,2017-01-20,2017-03,1.0
11845974,18699172,2373543,People & Blogs,UCrwMvZOgSvS2srsIjY-iIGg,2019-11-19 08:52:36.729797,CHEEMA AND KHUSA IN AFRICA,ONr0TugpkmY,131,NaN,SOUTH AFRICAN BLACK CHEEMA SPEAKS PUNJABI,2017-01-18,2017-03,1.0
11845975,18699173,2373544,People & Blogs,UCrwMvZOgSvS2srsIjY-iIGg,2019-11-19 08:52:37.239115,very funny,XdJFbBO3J7Q,252,NaN,ARAB BOY AND USA LIVE CHAT,2017-01-17,2017-03,1.0
11845976,18699174,2373545,People & Blogs,UCrwMvZOgSvS2srsIjY-iIGg,2019-11-19 08:52:37.819109,PAKISTAN VS AUSTRALIA 2ND ODI 15 JAN 2017 HIGH...,syfKxRYAEKI,947,NaN,PAKISTAN VS AUSTRALIA 2ND ODI 15 JAN 2017 HIGH...,2017-01-16,2017-03,1.0
11845977,18699175,2373546,People & Blogs,UCrwMvZOgSvS2srsIjY-iIGg,2019-11-19 08:52:38.405765,SOUTH AFRICAN BABA,VNtlKL0Lny4,55,NaN,A TO Z ZULU MEAN,2017-01-13,2017-02,1.0

### Regrouping videos per channel per week

In [4]:
db_video['upload']=pd.to_datetime(db_video['upload'], yearfirst=True)
db_video['week'] = db_video['upload'].apply(lambda x: x.strftime('%Y-%W'))

In [5]:
db_video.drop_duplicates(subset=['id'])
db_video.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11845978 entries, 0 to 11845977
Data columns (total 13 columns):
 #   Column          Dtype
---  ------          -----
 0   Unnamed: 0.1    int64
 1   Unnamed: 0      int64
 2   category        object
 3   channel         object
 4   date_crawled    object
 5   description     object
 6   id              object
 7   duration        int64
 8   tags            object
 9   title           object
 10  upload          datetime64[ns]
 11  week            object
 12  before_updates  float64
dtypes: datetime64[ns](1), float64(1), int64(3), object(8)
memory usage: 1.1+ GB

In [6]:
db_grouped=db_video.groupby(['channel', 'week', 'before_updates', 'category'], 
                            as_index=False, 
                           dropna=False)['id'].count()
db_grouped

,channel,week,before_updates,category,id
0,UC--24Q3_ZQeFmgJE-Um5QZQ,2016-33,1.0,Travel & Events,1
1,UC--24Q3_ZQeFmgJE-Um5QZQ,2016-34,1.0,Travel & Events,1
2,UC--24Q3_ZQeFmgJE-Um5QZQ,2016-35,1.0,Travel & Events,1
3,UC--24Q3_ZQeFmgJE-Um5QZQ,2016-36,1.0,Travel & Events,1
4,UC--24Q3_ZQeFmgJE-Um5QZQ,2016-37,1.0,Travel & Events,1
...,...,...,...,...,...
2738529,UCzzzZ3-icktxbC3j7hkWqRw,2017-27,0.0,Howto & Style,1
2738530,UCzzzZ3-icktxbC3j7hkWqRw,2017-31,0.0,Howto & Style,1
2738531,UCzzzZ3-icktxbC3j7hkWqRw,2017-33,0.0,Howto & Style,1
2738532,UCzzzZ3-icktxbC3j7hkWqRw,2017-34,0.0,Howto & Style,1
2738533,UCzzzZ3-icktxbC3j7hkWqRw,2017-35,0.0,Howto & Style,1

In [7]:
db_grouped['week']=db_grouped['week'].replace('2017-00', '2016-52')

In [8]:
db_grouped=db_grouped.groupby(['channel', 'week', 'before_updates', 'category'], 
                            as_index=False, 
                           dropna=False)['id'].sum()
db_grouped

,channel,week,before_updates,category,id
0,UC--24Q3_ZQeFmgJE-Um5QZQ,2016-33,1.0,Travel & Events,1
1,UC--24Q3_ZQeFmgJE-Um5QZQ,2016-34,1.0,Travel & Events,1
2,UC--24Q3_ZQeFmgJE-Um5QZQ,2016-35,1.0,Travel & Events,1
3,UC--24Q3_ZQeFmgJE-Um5QZQ,2016-36,1.0,Travel & Events,1
4,UC--24Q3_ZQeFmgJE-Um5QZQ,2016-37,1.0,Travel & Events,1
...,...,...,...,...,...
2729896,UCzzzZ3-icktxbC3j7hkWqRw,2017-27,0.0,Howto & Style,1
2729897,UCzzzZ3-icktxbC3j7hkWqRw,2017-31,0.0,Howto & Style,1
2729898,UCzzzZ3-icktxbC3j7hkWqRw,2017-33,0.0,Howto & Style,1
2729899,UCzzzZ3-icktxbC3j7hkWqRw,2017-34,0.0,Howto & Style,1
2729900,UCzzzZ3-icktxbC3j7hkWqRw,2017-35,0.0,Howto & Style,1

In [9]:
db_grouped['channel'].nunique()

88493

In [10]:
db_grouped['category'].unique()

array(['Travel & Events', 'People & Blogs', 'Entertainment', 'Education',
       'Music', 'Comedy', 'Howto & Style', 'Autos & Vehicles',
       'Film & Animation', 'Sports', 'Gaming', 'News & Politics',
       'Nonprofits & Activism', 'Pets & Animals', 'Science & Technology',
       'Unknown'], dtype=object)

In [11]:
db_grouped.to_csv('weekly_uploads_cat.csv', sep=';')