## Channel categorization
In this notebook, we labelled YouTube channels based on the most popular video genre. We focused on the pre-intervention period for the labelling and defined the most popular genre as the one with a share equal or larger than 51%.

In [1]:
import pandas as pd
import numpy as np

In [2]:
db_week=pd.read_csv('weekly_uploads_cat_completed.csv', sep=';')
db_week.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5720550 entries, 0 to 5720549
Data columns (total 23 columns):
 #   Column          Dtype
---  ------          -----
 0   week            object
 1   channel         object
 2   ...1            float64
 3   before_updates  float64
 4   category        object
 5   id              float64
 6   id_0            int64
 7   cat_people      float64
 8   cat_ent         float64
 9   cat_educ        float64
 10  cat_comedy      float64
 11  cat_how         float64
 12  cat_auto        float64
 13  cat_travel      float64
 14  cat_game        float64
 15  cat_science     float64
 16  cat_activ       float64
 17  cat_pet         float64
 18  cat_film        float64
 19  cat_music       float64
 20  cat_news        float64
 21  cat_sport       float64
 22  cat_unknown     float64
dtypes: float64(19), int64(1), object(3)
memory usage: 1003.8+ MB

In [3]:
condition=[(db_week["week"]>="2017-12"),
          (db_week["week"]<"2017-12")]
value=[1,0]
db_week["first_moderation_update"]=np.select(condition, value)

In [4]:
db_weekly=db_week.groupby(['channel', 'week', 'first_moderation_update', 
                           'cat_people', 'cat_ent', 'cat_educ', 'cat_comedy', 
                           'cat_how', 'cat_auto', 'cat_travel', 'cat_game',
                           'cat_science', 'cat_activ', 'cat_pet', 'cat_film', 
                           'cat_music', 'cat_news', 'cat_sport', 'cat_unknown'],
                           as_index=False, 
                           dropna=False)['id_0'].sum(min_count=1)
db_weekly

,channel,week,first_moderation_update,cat_people,cat_ent,cat_educ,cat_comedy,cat_how,cat_auto,cat_travel,cat_game,cat_science,cat_activ,cat_pet,cat_film,cat_music,cat_news,cat_sport,cat_unknown,id_0
0,UC--24Q3_ZQeFmgJE-Um5QZQ,2016-33,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,UC--24Q3_ZQeFmgJE-Um5QZQ,2016-34,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2,UC--24Q3_ZQeFmgJE-Um5QZQ,2016-35,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3,UC--24Q3_ZQeFmgJE-Um5QZQ,2016-36,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4,UC--24Q3_ZQeFmgJE-Um5QZQ,2016-37,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5720545,UCzzzZ3-icktxbC3j7hkWqRw,2017-39,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
5720546,UCzzzZ3-icktxbC3j7hkWqRw,2017-40,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
5720547,UCzzzZ3-icktxbC3j7hkWqRw,2017-41,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
5720548,UCzzzZ3-icktxbC3j7hkWqRw,2017-42,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
5720549,UCzzzZ3-icktxbC3j7hkWqRw,2017-43,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [5]:
db_weekly=db_weekly[db_weekly['first_moderation_update']==0]

db_chan=db_weekly.groupby(['channel'],
                           as_index=False, 
                           dropna=False)['id_0', 'cat_people', 'cat_ent', 'cat_educ', 'cat_comedy', 
                           'cat_how', 'cat_auto', 'cat_travel', 'cat_game',
                           'cat_science', 'cat_activ', 'cat_pet', 'cat_film', 
                           'cat_music', 'cat_news', 'cat_sport', 'cat_unknown'].sum(min_count=1)
db_chan

C:\Users\mrass\AppData\Local\Temp\ipykernel_11016\1033626586.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  db_chan=db_weekly.groupby(['channel'],

,channel,id_0,cat_people,cat_ent,cat_educ,cat_comedy,cat_how,cat_auto,cat_travel,cat_game,cat_science,cat_activ,cat_pet,cat_film,cat_music,cat_news,cat_sport,cat_unknown
0,UC--24Q3_ZQeFmgJE-Um5QZQ,31,0.0,0.0,0.0,0.0,0.0,0.0,31.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,UC--2EbuIuBOGgGqPiJxi3rg,5,3.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,UC--3ozenTzry39-xMqAPQlw,7,0.0,3.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,UC--6E6EpybocdaNlPhvK_9A,4,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,UC--70ql_IxJmhmqXqrkJrWQ,33,33.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88488,UCzzqd0yx7h1PuC3KJVqeJgw,77,77.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
88489,UCzzsKg4jPGBL05t2w3HfHBA,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88490,UCzzt-UNlRHbEFY3rEpFpuXw,11,0.0,11.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
88491,UCzzzPMh9fZHxc7gxPRB2LHQ,162,82.0,64.0,0.0,0.0,0.0,0.0,0.0,0.0,16.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
88492,UCzzzZ3-icktxbC3j7hkWqRw,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
db_chan['people_rate']=(db_chan['cat_people']/db_chan['id_0'])*100
db_chan['ent_rate']=(db_chan['cat_ent']/db_chan['id_0'])*100
db_chan['educ_rate']=(db_chan['cat_educ']/db_chan['id_0'])*100
db_chan['comedy_rate']=(db_chan['cat_comedy']/db_chan['id_0'])*100
db_chan['how_rate']=(db_chan['cat_how']/db_chan['id_0'])*100
db_chan['auto_rate']=(db_chan['cat_auto']/db_chan['id_0'])*100
db_chan['travel_rate']=(db_chan['cat_travel']/db_chan['id_0'])*100
db_chan['game_rate']=(db_chan['cat_game']/db_chan['id_0'])*100
db_chan['science_rate']=(db_chan['cat_science']/db_chan['id_0'])*100
db_chan['activ_rate']=(db_chan['cat_activ']/db_chan['id_0'])*100
db_chan['pet_rate']=(db_chan['cat_pet']/db_chan['id_0'])*100
db_chan['film_rate']=(db_chan['cat_film']/db_chan['id_0'])*100
db_chan['music_rate']=(db_chan['cat_music']/db_chan['id_0'])*100
db_chan['news_rate']=(db_chan['cat_news']/db_chan['id_0'])*100
db_chan['sport_rate']=(db_chan['cat_sport']/db_chan['id_0'])*100
db_chan['unknown_rate']=(db_chan['cat_unknown']/db_chan['id_0'])*100


db_chan

,channel,id_0,cat_people,cat_ent,cat_educ,cat_comedy,cat_how,cat_auto,cat_travel,cat_game,...,travel_rate,game_rate,science_rate,activ_rate,pet_rate,film_rate,music_rate,news_rate,sport_rate,unknown_rate
0,UC--24Q3_ZQeFmgJE-Um5QZQ,31,0.0,0.0,0.0,0.0,0.0,0.0,31.0,0.0,...,100.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,UC--2EbuIuBOGgGqPiJxi3rg,5,3.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,UC--3ozenTzry39-xMqAPQlw,7,0.0,3.0,4.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,UC--6E6EpybocdaNlPhvK_9A,4,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,UC--70ql_IxJmhmqXqrkJrWQ,33,33.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88488,UCzzqd0yx7h1PuC3KJVqeJgw,77,77.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
88489,UCzzsKg4jPGBL05t2w3HfHBA,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88490,UCzzt-UNlRHbEFY3rEpFpuXw,11,0.0,11.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
88491,UCzzzPMh9fZHxc7gxPRB2LHQ,162,82.0,64.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,9.876543,0.0,0.0,0.0,0.0,0.0,0.0,0.0
88492,UCzzzZ3-icktxbC3j7hkWqRw,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
condition=[(db_chan['people_rate']>=51), (db_chan['ent_rate']>=51),
          (db_chan['educ_rate']>=51), (db_chan['comedy_rate']>=51),
          (db_chan['how_rate']>=51), (db_chan['auto_rate']>=51),
          (db_chan['travel_rate']>=51), (db_chan['game_rate']>=51),
          (db_chan['science_rate']>=51), (db_chan['activ_rate']>=51),
          (db_chan['pet_rate']>=51), (db_chan['film_rate']>=51),
          (db_chan['music_rate']>=51), (db_chan['news_rate']>=51),
          (db_chan['sport_rate']>=51), (db_chan['unknown_rate']>=51)]

value=['People', 'Entertainment', 'Education', 'Comedy', 'How to & Style', 'Autos & Vehicles', 
      'Travel', 'Gaming', 'Science & Technology', 'Nonprofits & Activism', 'Pets & Animals', 
      'Film & Animation', 'Music', 'News & Politics', 'Sports', 'Unknown']

db_chan['main_cat']=np.select(condition, value)

In [8]:
db_chan

,channel,id_0,cat_people,cat_ent,cat_educ,cat_comedy,cat_how,cat_auto,cat_travel,cat_game,...,game_rate,science_rate,activ_rate,pet_rate,film_rate,music_rate,news_rate,sport_rate,unknown_rate,main_cat
0,UC--24Q3_ZQeFmgJE-Um5QZQ,31,0.0,0.0,0.0,0.0,0.0,0.0,31.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Travel
1,UC--2EbuIuBOGgGqPiJxi3rg,5,3.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,People
2,UC--3ozenTzry39-xMqAPQlw,7,0.0,3.0,4.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Education
3,UC--6E6EpybocdaNlPhvK_9A,4,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,People
4,UC--70ql_IxJmhmqXqrkJrWQ,33,33.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,People
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88488,UCzzqd0yx7h1PuC3KJVqeJgw,77,77.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,People
88489,UCzzsKg4jPGBL05t2w3HfHBA,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
88490,UCzzt-UNlRHbEFY3rEpFpuXw,11,0.0,11.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Entertainment
88491,UCzzzPMh9fZHxc7gxPRB2LHQ,162,82.0,64.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,9.876543,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
88492,UCzzzZ3-icktxbC3j7hkWqRw,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,How to & Style

In [9]:
db_chan['main_cat']=db_chan['main_cat'].replace('0', 'Mixed')

In [10]:
db_chan_cat=db_chan[['channel', 'main_cat']].copy()

In [11]:
db_chan_cat

                        channel        main_cat
0      UC--24Q3_ZQeFmgJE-Um5QZQ          Travel
1      UC--2EbuIuBOGgGqPiJxi3rg          People
2      UC--3ozenTzry39-xMqAPQlw       Education
3      UC--6E6EpybocdaNlPhvK_9A          People
4      UC--70ql_IxJmhmqXqrkJrWQ          People
...                         ...             ...
88488  UCzzqd0yx7h1PuC3KJVqeJgw          People
88489  UCzzsKg4jPGBL05t2w3HfHBA           Mixed
88490  UCzzt-UNlRHbEFY3rEpFpuXw   Entertainment
88491  UCzzzPMh9fZHxc7gxPRB2LHQ           Mixed
88492  UCzzzZ3-icktxbC3j7hkWqRw  How to & Style

[88493 rows x 2 columns]

In [12]:
db_chan_cat.to_csv('channel_cat.csv', sep=';')